body{
background-color: #e2edc7;    

}

/* body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(to right top, #142743, #22586c, #4f8a8b, #92bda6, #e2edc7);
} */

.jobSearchContainter{
    background-color: #005675;
    padding: 10px;
    align-content: left;
}

.button{
    color: #c2e377;
}

.button:hover {
    background-color: #c2e377;
    color:white;
}

.white{
    color:white;
}

.green{
    color:#c2e377;
}

h2{
    font-family: 'Baloo Tamma 2', cursive;
}

.results{
    color: white;
    margin-top: 30px;
    width: 90%;
    border-radius: 15px;
    padding-top: 20px;
}

.collapsible{
    background-color:#005675;
    padding: 20px;
    color: white;
    margin: 20px;
  
    width: 100%;
    text-align: left;
    outline: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
}
.collapsible img{
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 3px;
}
tr{
    display: block;
}
.content {
    margin-top: 10px;
    padding: 10px 18px;
    background-color: #92bda6;
    height: 300px;       
    overflow-y: auto;    
    overflow-x: hidden;
    margin-bottom: 10px; 
}
.button{
      background-color:transparent;
      margin-top: 50px;
      border-radius: 10px;
      color: white;
      padding: 5px;
      border: solid 1px white;
}

